/* You can add global styles to this file, and also import other style files */
body {
    font-family: Arial, Helvetica, sans-serif;
    color: #404C51;
  }
  
  a {
    text-decoration: none;
  }
  
  a:hover, a:focus {
    text-decoration: underline;
  }
  
  label {
    font-weight: bold;
  }
  
  @media ( min-width: 1200px) {
    .container {
      width: 1170px;
      margin: 0 auto;
    }
  }
  
  .p-grid {
    margin-top: 50px !important;
    margin-bottom: 20px !important;
  }

  .p-button {
      margin-right: 20px !important;
  }

  td .p-button {
    margin-right: 5px !important;
   } 
  
  /* essa configuração é devido ao desalinhamento dos botoes na tabela no chrome */
  .p-component .p-button-icon-only .p-button-text, .p-button-text-empty .p-button-text {
    overflow: unset;
  }