<div class="container">
    <form #processoForm="ngForm" (ngSubmit)="salvar(processoForm)">
        <div class="p-fluid p-grid">
            <div class="p-col-12">
                <h1>{{ editando ? 'Edição de' : 'Novo'}} Processo</h1>
            </div>

            <div class="p-field p-col-12 p-md-9">
                <label>Nome</label>
                <input type="text" pInputText name="nome" #nome [(ngModel)] ="processo.nome" required />
            </div>
            <div class="p-field p-col-12 p-md-9">
                <label class="p-col-12">Descrição</label>
                <textarea pInputTextarea name="descricao" style="width: 100%; max-width: 100%;" #nome [(ngModel)] ="processo.descricao" required></textarea>
            </div>
            <div class=" p-field p-col-12 p-md-9" *ngIf="getFinalizador()">
                <label class="p-col-12">Parecer</label>
                <textarea pInputTextarea name="parecer" style="width: 100%; max-width: 100%;" #descricaoParecer [(ngModel)] ="parecerEdit.descricao"></textarea>
            </div>

            <div class="p-field p-col-12  p-md-9" *ngIf="getTriador()">
                <h3>Selecionar usuário(s) para emitir parecer:</h3>
                <p-pickList [source]="listaUsuariosOrigem" [target]="listaUsuariosDestino" sourceHeader="Disponíveis"
                    targetHeader="Selecionados" dragdrop="true" [responsive]="true" filterBy="nome"
                    sourceFilterPlaceholder="Buscar por nome" targetFilterPlaceholder="Buscar por nome">>
                    <ng-template let-usuario pTemplate="item">
                        <div>
                            <div style="font-size:14px;float:right;margin:15px 5px 0 0">{{usuario.nome}}</div>
                        </div>
                    </ng-template>
                </p-pickList>
            </div>
        </div>
        <div class="p-col-12 p-md-10">
            <button pButton type="button" label="Novo" class="p-button-info" (click)="novo(processoForm)"></button>
            <button pButton type="submit" label="Salvar" [disabled]="processoForm.invalid"></button>
            <a routerLink="/processos"> Voltar para a Listagem de Processos</a>
        </div>
    </form>
</div>