<nav class="navbar" *ngIf="jwtPayload">
    <div class="container">
        <div class="ui-g">
            <div class="p-col-12">
                <a href="javascript:;" class="navbar-toggle" (click)="exibindoMenu=!exibindoMenu"><i
                        class="pi pi-bars"></i></a>
            </div>
        </div>

        <ul class="navbar-menu" [hidden]="!exibindoMenu">
            <li class="navbar-usuario">{{ jwtPayload?.nome }}</li>
            <li class="navbar-menuitem" routerLinkActive="ativo" *ngIf="jwtPayload?.authorities[0] === 'ADM'">
                <a routerLink="/usuarios">Usuários</a>
            </li>
            <li class="navbar-menuitem" routerLinkActive="ativo">
                <a routerLink="/processos">Processos</a>
            </li>
            <li class="navbar-menuitem">
                <a (click)="logout()">Logout</a>
            </li>
        </ul>
    </div>
</nav>