<div class="container">
    <form>
        <div class="p-grid pesquisa">
        <div class="p-col-12">
          <h1>Processos</h1>
        </div>
  
        <div class="p-col-12 p-fluid">
          <label>Nome</label>
          <input type="text" pInputText name="nome" #nome="ngModel" ngModel/>
        </div>
        
  
        <div class="p-col-12">
          <a pButton type="submit" label="Pesquisar"(click)="filtrar(nome.value)" ></a>
        </div>
    </div>
      </form>
  
    <div class="p-grid">
      <p-table [value]="processos" styleClass="p-datatable-gridlines p-datatable-striped" [responsive]="true"
      [paginator]="true" [rows]="10" [showCurrentPageReport]="true" 
          currentPageReportTemplate="Exibindo {first} a {last} de {totalRecords} registros" [rowsPerPageOptions]="[10,25,50]">
        <ng-template pTemplate="header">
            <tr>
                <th>Nome</th>
                <th>Descrição</th>
                <th>Pendência</th>
                <th style="width: 130px;">Ações</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-processo>
            <tr >
                <td>{{processo.nome}}</td>
                <td>{{processo.descricao}}</td>
                <td>{{processo.descricao}}</td>
                <td>
                  <a type="button" pButton icon="pi pi-pencil" pTooltip="Editar" tooltipPosition="top" [routerLink]="['/processos', processo.id]"></a>
                  <button type="button" pButton icon="pi pi-trash" pTooltip="Excluir" tooltipPosition="top" (click)="confirmarExclusao(processo)"></button>
                </td>
            </tr>
        </ng-template>
    </p-table>
  </div>
  <div class="p-col-12">
    <a pButton label="Novo Processo" routerLink="/processos/new"></a>
  </div>
  
  </div>